<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hurb.mapper.sysmanager.TSysOperationlogMapper">
  <resultMap id="BaseResultMap" type="com.hurb.pojo.sysmanager.TSysOperationlog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userUid" jdbcType="VARCHAR" property="useruid" />
    <result column="operateType" jdbcType="VARCHAR" property="operatetype" />
    <result column="operationTargetId" jdbcType="INTEGER" property="operationtargetid" />
    <result column="sessionId" jdbcType="INTEGER" property="sessionid" />
    <result column="operatorIp" jdbcType="VARCHAR" property="operatorip" />
    <result column="operateTime" jdbcType="TIMESTAMP" property="operatetime" />
  </resultMap>
</mapper>