<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hurb.mapper.sysmanager.TTeacherStrategyMapper">
  <resultMap id="BaseResultMap" type="com.hurb.pojo.sysmanager.TTeacherStrategy">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="strategyName" jdbcType="VARCHAR" property="strategyname" />
    <result column="courseCode" jdbcType="VARCHAR" property="coursecode" />
  </resultMap>
</mapper>